@model WheresMyMoney.ViewModels.CreateMovementViewModel
@{
    ViewBag.Title = "CreateMovement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateMovement</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MovementModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


   

        <div class="form-group">
            @Html.LabelFor(model => model.Movement.Date, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movement.Date, new { htmlAttributes = new { @class = "datepicker searchField widthCreate" } })
                @Html.ValidationMessageFor(model => model.Movement.Date, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Movement.VALUE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movement.VALUE, new { htmlAttributes = new { @class = "form-control searchField widthCreate" } })
                @Html.ValidationMessageFor(model => model.Movement.VALUE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movement.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movement.UserId, new { htmlAttributes = new { @class = "form-control searchField widthCreate", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Movement.UserId, "", new { @class = "text-danger" })
            </div>
        </div>










        <div class="form-group">
            @Html.LabelFor(model => model.Movement.MovementTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Movement.MovementTypeId, new SelectList(Model.MovementType, "MovementTypeId", "Name"), "Select movement Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Movement.MovementTypeId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Movement.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Movement.CategoryId, new SelectList(Model.Category, "CategoryId", "Name"), "Select Category",  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Movement.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>








        <div class="form-group">
            @Html.LabelFor(model => model.Movement.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movement.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Movement.Notes, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-lg" })
</div>





<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


@section scripts {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-2:+5",
                /*showOn: "both",*/
                /*buttonText:"Select"*/
                showButtonPanel: true
            });

            $(".datepicker").datepicker();
            $(".datepicker").datepicker("setDate", new Date());
        })
    </script>
}





