@model IEnumerable<WheresMyMoney.ViewModels.UserMovementsNamesViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
            {
                <p>
                    Find by Category or Notes: @Html.TextBox("searchString")
                    <input type="submit" value="Search" />
    
                </p>
            }

<table class="table">
    <tr>
        <th>            
            @Html.ActionLink("Date","Index", new {sortOrder=ViewBag.DateSortParam})

        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovementType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>           
            @Html.ActionLink("Value","Index", new {sortOrder = ViewBag.ValuesSortParam})
        </th>
        <th></th>
    </tr>

@{float total=0;}
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovementType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALUE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MovementId }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new {id=item.MovementId })
        </td>
    </tr>
    
    
    total = total + item.VALUE;
}
<tr>
    <td><p class="BoldTotal">TOTAL</p></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <p class="BoldTotal">@total</p>
    </td>
    <td></td>
</tr>

</table>
