@model IEnumerable<WheresMyMoney.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories already defined</h2>

<div class="container-fluid marginContainerViewMovements">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-danger btn-lg marginButtonsViewMovements" })
    @Html.ActionLink("View All", "Index", new { movementType = ViewBag.All }, new { @class = "btn btn-default btn-lg marginButtonsViewMovements" })
    @Html.ActionLink("View only Expenses", "Index", new { movementType = ViewBag.Expense }, new { @class = "btn btn-default btn-lg marginButtonsViewMovements" })
    @Html.ActionLink("View only Incomes", "Index", new { movementType = ViewBag.Income }, new { @class = "btn btn-default btn-lg marginButtonsViewMovements" })
</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovementTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovementTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId}) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
        </td>
    </tr>
}



</table>


